# needed for certificate
mumble.{{ domain }} {
  respond 204
}

# needed for SSH access
ssh.{{ domain }} {
  respond 204
}

wiki.{{ domain }} {
  root * /srv/wiki
  file_server
}

fileshare.{{ domain }} {
  root * /srv/fileshare
  file_server
}

gallery.{{ domain }} {
  root * /srv/gallery
  file_server
}

home.{{ domain }} {
  reverse_proxy homeassistant:8123 {
    header_up X-Real-IP {remote_host}
  }
}

media.{{ domain }} {
  reverse_proxy jellyfin:8096
}

mediarequest.{{ domain }} {
  reverse_proxy jellyseerr:5055
}

immich.{{ domain }} {
  reverse_proxy immich_server:3001
}

bitwarden.{{ domain }}:443 {
  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this if you encounter issues.
  encode gzip

  # Uncomment to allow access to the admin interface only from local networks
  @insecureadmin {
    path /admin*
    not remote_ip private_ranges
  }
  redir @insecureadmin /

  # Proxy everything to Rocket
  reverse_proxy bitwarden:80 {
    # Send the true remote IP to Rocket, so that vaultwarden can put this in the
    # log, so that fail2ban can ban the correct IP.
    header_up X-Real-IP {remote_host}
  }
}
