{{ domain }} {
  @staticServer {
    path /fileshare* /gallery* /wiki*
  }
  handle @staticServer {
    root * /srv/
    file_server
  }

  handle {
    respond 403
  }
}

home.{{ domain }} {
  reverse_proxy homeassistant:8123 {
    header_up X-Real-IP {remote_host}
  }
}

media.{{ domain }} {
  reverse_proxy jellyfin:8096
}

mediarequest.{{ domain }} {
  reverse_proxy jellyseerr:5055
}

bitwarden.{{ domain }}:443 {
  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this if you encounter issues.
  encode gzip

  # Uncomment to allow access to the admin interface only from local networks
  @insecureadmin {
    path /admin*
    not remote_ip private_ranges
  }
  redir @insecureadmin /

  # Proxy everything to Rocket
  reverse_proxy bitwarden:80 {
    # Send the true remote IP to Rocket, so that vaultwarden can put this in the
    # log, so that fail2ban can ban the correct IP.
    header_up X-Real-IP {remote_host}
  }
}
