# Stiebel Eltron WPL17ICS Integrations

modbus:
  # Modbus address has offset 1.
  # Slave is always 1.
  - name: WPL17ICS
    type: tcp
    host: 192.168.0.31
    port: 502
    sensors:
      - name: WPL17ICS Aussentemperatur
        unique_id: "wpl17ics_actual_temperature_outside"
        slave: 1
        address: 506
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS HK-1 Ist-Temperatur
        unique_id: "wpl17ics_actual_temperature_hk1"
        slave: 1
        address: 507
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS HK-1 Soll-Temperatur
        unique_id: "wpl17ics_target_temperature_hk1"
        slave: 1
        address: 509
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Vorlauf Ist-Temperatur
        unique_id: "wpl17ics_actual_temperature_flow"
        slave: 1
        address: 512
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Rücklauf Ist-Temperatur
        unique_id: "wpl17ics_actual_temperature_return"
        slave: 1
        address: 515
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Puffer Ist-Temperatur
        unique_id: "wpl17ics_actual_temperature_buffer"
        slave: 1
        address: 517
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Puffer Soll-Temperatur
        unique_id: "wpl17ics_target_temperature_buffer"
        slave: 1
        address: 518
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Volumenstrom
        unique_id: "wpl17ics_volume_flow"
        slave: 1
        address: 520
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: 'l/min'
        state_class: measurement
      - name: WPL17ICS Warmwasser Ist-Temperatur
        unique_id: "wpl17ics_actual_temperature_hotwater"
        slave: 1
        address: 521
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Warmwasser Soll-Temperatur
        unique_id: "wpl17ics_target_temperature_hotwater"
        slave: 1
        address: 522
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Kühlen Ist-Temperatur
        unique_id: "wpl17ics_actual_temperature_cooling"
        slave: 1
        address: 523
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Kühlen Soll-Temperatur
        unique_id: "wpl17ics_target_temperature_cooling"
        slave: 1
        address: 524
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS WP Rücklauf-Temperatur
        unique_id: "wpl17ics_return_temperature_wp"
        slave: 1
        address: 541
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS WP Vorlauf-Temperatur
        unique_id: "wpl17ics_flow_temperature_wp"
        slave: 1
        address: 542
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS WP Volumenstrom
        unique_id: "wpl17ics_volume_flow_wp"
        slave: 1
        address: 547
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: 'l/min'
        state_class: measurement
      - name: WPL17ICS Raum Ist-Temperatur
        unique_id: "wpl17ics_actual_temperature_room"
        slave: 1
        address: 583
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Raum Soll-Temperatur
        unique_id: "wpl17ics_target_temperature_room"
        slave: 1
        address: 584
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Raum Feuchte
        unique_id: "wpl17ics_actual_humidity_room"
        slave: 1
        address: 585
        input_type: input
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '%'
        device_class: humidity
        state_class: measurement
      - name: WPL17ICS HK-1 Komfort-Temperatur
        unique_id: "wpl17ics_comfort_temperature_hk1"
        slave: 1
        address: 1501
        input_type: holding
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS HK-1 Eco-Temperatur
        unique_id: "wpl17ics_eco_temperature_hk1"
        slave: 1
        address: 1502
        input_type: holding
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS HK-1 Heizkurve
        unique_id: "wpl17ics_heatcurve_hk1"
        slave: 1
        address: 1503
        input_type: holding
        data_type: int16
        scale: 0.01
        precision: 2
      - name: WPL17ICS Warmwasser Komfort-Temperatur
        unique_id: "wpl17ics_comfort_temperature_hotwater"
        slave: 1
        address: 1509
        input_type: holding
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Warmwasser Eco-Temperatur
        unique_id: "wpl17ics_eco_temperature_hotwater"
        slave: 1
        address: 1510
        input_type: holding
        data_type: int16
        scale: 0.1
        precision: 1
        unit_of_measurement: '°C'
        device_class: temperature
        state_class: measurement
      - name: WPL17ICS Betriebsstatus
        unique_id: "wpl17ics_system_state"
        slave: 1
        address: 2500
        input_type: input
        data_type: uint16
      - name: WPL17ICS Error State
        unique_id: "wpl17ics_error_state"
        slave: 1
        address: 2503
        input_type: input
        data_type: uint16
      - name: WPL17ICS Active Error
        unique_id: "wpl17ics_active_error"
        slave: 1
        address: 2506
        input_type: input
        data_type: uint16
      - name: WPL17ICS Message Number
        unique_id: "wpl17ics_message_number"
        slave: 1
        address: 2507
        input_type: input
        data_type: uint16
      - name: WPL17ICS SG-Ready Betriebszustand
        unique_id: "wpl17ics_sg_ready_state"
        slave: 1
        address: 5000
        input_type: input
        data_type: uint16
    switches:
        # SG-Ready State | weak bit | strong bit
        #            1   |     0    |     1
        #            2   |     0    |     0
        #            3   |     1    |     0
        #            4   |     1    |     1
      - name: WPL17ICS SG-Ready Force Weak
        unique_id: "wpl17ics_sg_ready_force_weak"
        slave: 1
        address: 4001
        write_type: holding
        verify:
      - name: WPL17ICS SG-Ready Force Strong
        unique_id: "wpl17ics_sg_ready_force_strong"
        slave: 1
        address: 4002
        write_type: holding
        verify:

template:
  - sensor:
      - name: WPL17ICS Real Power All Modes
        unique_id: "wpl17ics_real_power_all_modes"
        unit_of_measurement: W
        device_class: power
        state_class: measurement
        state: "{{ (states('sensor.warmepumpe_channel_a_power') | float(default=0)) + (states('sensor.warmepumpe_channel_b_power') | float(default=0)) + (states('sensor.warmepumpe_channel_c_power') | float(default=0)) }}"
      - name: WPL17ICS Real Power Notheizung
        unique_id: "wpl17ics_real_power_emergencyheater"
        unit_of_measurement: W
        device_class: power
        state_class: measurement
        state: "{{ (states('sensor.wpl17ics_real_power_all_modes') | float(default=0)) if is_state('binary_sensor.wpl17ics_betriebsstatus_notheizung_aktiv', 'on') else 0 }}"
      - name: WPL17ICS Real Power Heizung
        unique_id: "wpl17ics_real_power_heating"
        unit_of_measurement: W
        device_class: power
        state_class: measurement
        state: "{{ (states('sensor.wpl17ics_real_power_all_modes') | float(default=0)) if is_state('binary_sensor.wpl17ics_betriebsstatus_heizung_aktiv', 'on') else 0 }}"
      - name: WPL17ICS Real Power Warmwasser
        unique_id: "wpl17ics_real_power_hotwater"
        unit_of_measurement: W
        device_class: power
        state_class: measurement
        state: "{{ (states('sensor.wpl17ics_real_power_all_modes') | float(default=0)) if is_state('binary_sensor.wpl17ics_betriebsstatus_warmwasser_aktiv', 'on') else 0 }}"
      - name: WPL17ICS Real Power Kühlbetrieb
        unique_id: "wpl17ics_real_power_cooling"
        unit_of_measurement: W
        device_class: power
        state_class: measurement
        state: "{{ (states('sensor.wpl17ics_real_power_all_modes') | float(default=0)) if is_state('binary_sensor.wpl17ics_betriebsstatus_kuhlbetrieb_aktiv', 'on') else 0 }}"
      - name: WPL17ICS Real Power Standby
        unique_id: "wpl17ics_real_power_standby"
        unit_of_measurement: W
        device_class: power
        state_class: measurement
        state: "{{ max(0, (states('sensor.wpl17ics_real_power_all_modes') | float(default=0))
                - (states('sensor.wpl17ics_real_power_notheizung') | float(default=0))
                - (states('sensor.wpl17ics_real_power_heizung') | float(default=0))
                - (states('sensor.wpl17ics_real_power_warmwasser') | float(default=0))
                - (states('sensor.wpl17ics_real_power_kuhlbetrieb') | float(default=0)) ) }}"
  - binary_sensor:
      - name: WPL17ICS Betriebsstatus aktiv
        unique_id: "wpl17ics_system_state_active"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(16255) > 0 }}"
        device_class: running
      - name: WPL17ICS Betriebsstatus HK-1 Pumpe aktiv
        unique_id: "wpl17ics_system_state_hk1_pump"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(1) > 0 }}"
        device_class: running
      - name: WPL17ICS Betriebsstatus HK-2 Pumpe aktiv
        unique_id: "wpl17ics_system_state_hk2_pump"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(2) > 0 }}"
        device_class: running
      - name: WPL17ICS Betriebsstatus Aufheizprogramm aktiv
        unique_id: "wpl17ics_system_state_heatup"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(4) > 0 }}"
        device_class: heat
      - name: WPL17ICS Betriebsstatus Notheizung aktiv
        unique_id: "wpl17ics_system_state_emergencyheater"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(8) > 0 }}"
        device_class: heat
      - name: WPL17ICS Betriebsstatus Heizung aktiv
        unique_id: "wpl17ics_system_state_heating"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(16) > 0 }}"
        device_class: heat
      - name: WPL17ICS Betriebsstatus Warmwasser aktiv
        unique_id: "wpl17ics_system_state_hotwater"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(32) > 0 }}"
        device_class: heat
      - name: WPL17ICS Betriebsstatus Verdichter aktiv
        unique_id: "wpl17ics_system_state_compressor"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(64) > 0 }}"
        device_class: running
      - name: WPL17ICS Betriebsstatus Sommerbetrieb aktiv
        unique_id: "wpl17ics_system_state_summer_mode"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(128) > 0 }}"
        device_class: light
      - name: WPL17ICS Betriebsstatus Kühlbetrieb aktiv
        unique_id: "wpl17ics_system_state_cooling"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(256) > 0 }}"
        device_class: cold
      - name: WPL17ICS Betriebsstatus Abtauen aktiv
        unique_id: "wpl17ics_system_state_defrost"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(512) > 0 }}"
        device_class: heat
      - name: WPL17ICS Betriebsstatus Silentmode1 aktiv
        unique_id: "wpl17ics_system_state_silent_mode_1"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(1024) > 0 }}"
        device_class: sound
      - name: WPL17ICS Betriebsstatus Silentmode2 aktiv
        unique_id: "wpl17ics_system_state_silent_mode_2"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(2048) > 0 }}"
        device_class: sound
      - name: WPL17ICS Betriebsstatus EVU Sperre
        unique_id: "wpl17ics_system_state_evu_lock"
        state: "{{ states('sensor.wpl17ics_betriebsstatus') | int(default=0) | bitwise_and(16384) > 0 }}"
        device_class: safety

sensor:
  - platform: integration
    source: sensor.wpl17ics_real_power_notheizung
    name: "WPL17ICS Real Total Energy Notheizung"
    unique_id: "wpl17ics_real_total_energy_emergencyheater"
    unit_prefix: k
    method: left
  - platform: integration
    source: sensor.wpl17ics_real_power_heizung
    name: "WPL17ICS Real Total Energy Heizung"
    unique_id: "wpl17ics_real_total_energy_heating"
    unit_prefix: k
    method: left
  - platform: integration
    source: sensor.wpl17ics_real_power_warmwasser
    name: "WPL17ICS Real Total Energy Warmwasser"
    unique_id: "wpl17ics_real_total_energy_hotwater"
    unit_prefix: k
    method: left
  - platform: integration
    source: sensor.wpl17ics_real_power_kuhlbetrieb
    name: "WPL17ICS Real Total Energy Kühlbetrieb"
    unique_id: "wpl17ics_real_total_energy_cooling"
    unit_prefix: k
    method: left
  - platform: integration
    source: sensor.wpl17ics_real_power_standby
    name: "WPL17ICS Real Total Energy Standby"
    unique_id: "wpl17ics_real_total_energy_standby"
    unit_prefix: k
    method: left
  - platform: integration
    source: sensor.boiler_channel_a_power
    name: "WPL17ICS Real Total Energy Boiler"
    unique_id: "wpl17ics_real_total_energy_boiler"
    unit_prefix: k
    method: left
