###########################################
# JetBrains
.idea


###########################################
# Vagrant
.vagrant
*.log
disks


###########################################
# Ansible
*.retry



###########################################
# Custom
