###########################################
# JetBrains
.idea


###########################################
# Vagrant
.vagrant
*.log
disks


###########################################
# Ansible
*.retry
infra_pw



###########################################
# Custom
