#!/bin/bash

{% if task_group.pre_sleep_seconds is defined%}
echo "pre-sleep: {{ task_group.pre_sleep_seconds }} seconds"
sleep {{ task_group.pre_sleep_seconds }}
{% endif %}

{% for src in task_group.sources %}
echo "run rsync task: {{ src | regex_replace('\\/$', '') }} into {{ task_group.dest }}"
rsync --archive --delete --stats "{{ src | regex_replace('\\/$', '') }}" "{{ task_group.dest }}"

{% endfor %}
