[Unit]
Description=JDownloader2 container
Requires=docker.service
After=docker.service

[Service] 
Restart=always
ExecStart=/usr/bin/docker start -a jdownloader2
ExecStop=/usr/bin/docker stop -t 20 jdownloader2

[Install]
WantedBy=default.target
