[Unit]
Description=docker-compose {{ service_name }} service
{% if auto_restart_if_failing %}
StartLimitIntervalSec=5min
StartLimitBurst=10
{% endif %}
Requires=docker.service network-online.target
After=docker.service network-online.target
{% for dep in service_dependencies %}
Requires={{ dep }}
After={{ dep }}
{% endfor %}

[Service]
WorkingDirectory=/etc/docker-compose/{{ service_name }}
Type=simple
TimeoutStartSec=15min
{% if auto_restart_if_failing %}
Restart=always
RestartSec=5sec
{% endif %}

ExecStart=/usr/bin/docker-compose up --build --remove-orphans

ExecStop=/usr/bin/docker-compose down --remove-orphans

ExecReload=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecReload=/usr/bin/docker-compose build --pull

[Install]
WantedBy=multi-user.target
