---
version: "3.5"
services:
  jellyfin:
    container_name: "jellyfin"
    image: lscr.io/linuxserver/jellyfin:latest
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ jf_config_folder }}:/config
      - {{ jf_media_folder }}:/media:ro
    ports:
      - 8096:8096
      - 7359:7359/udp
      - 1900:1900/udp
    devices:
      - /dev/dri:/dev/dri
