---
version: "3.5"
services:
  mumble:
    container_name: "mumble"
    image: mumblevoip/mumble-server:latest
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
      - MUMBLE_CUSTOM_CONFIG_FILE=/data/config.ini
    volumes:
      - {{ mb_data_folder }}:/data
      - {{ mb_config_folder }}/config.ini:/data/config.ini:ro
      - /etc/caddy/data/caddy/certificates:/cert:ro
    ports:
      - "64738:64738/tcp"
      - "64738:64738/udp"
